
#NP-evento {
height:900px;
margin: 4%;
background-color: #e7e6e7 ;
box-shadow: 0px -8px 0px 0px rgb(253, 3, 3);
padding: 3%;
display: flex;
flex-direction: column;
justify-content: space-around;

}
   
.evento-LG{
    text-align: center;
    color: white;
    background-color:#Ff0000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    max-width: 30%;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 700; 
    margin-left: 2%;
    margin-bottom: 0.8%;
}

#NP-evento p{
    font-size: 12px;
    color: gray;
    margin-left: 2%;
}

#NP-evento h1{
    font-weight: 900;
    color: #012952;
    margin-left: 2%;
    font-size: 27px;
    margin-bottom: 0.5%;
}

.img-e{
width: 60%;
height: 100%;
background-image: url(img/evento.jpg);
background-position: center;
background-size: cover;
align-self: center;
}

.evento-h6e{
 width:100%;
height: 450px;
display: flex;
align-items: flex-end;
padding-left: 6%;

}

#NP-evento h5{
color: #012952;
font-size:20px;
}

.e-h6 {
font-size: 20px;
padding: 2%;
color: #074e96;
font-weight: 800;
}

.ev-h5{
 height: 200px;
display: flex;
flex-direction:column;
justify-content: space-around;

}




#NP2-evento {
height:900px;
margin: 4%;
background-color: #e7e6e7 ;
box-shadow: 0px -8px 0px 0px rgb(253, 3, 3);
padding: 4%;
display: flex;
flex-direction: column;
justify-content: space-around;
    
}

#NP2-evento p{
    font-size: 12px;
    color: gray;
    margin-left: 2%; 
}

#NP2-evento h1{
    font-weight: 900;
    color: #012952;
    margin-left: 2%;
    font-size: 27px;
    padding-bottom: 1%;
}

.img-e2{
    width: 50%;
    height: 90%;
    background-image: url(img/eventoNP2.jpg);
    background-position: center;
    background-size: cover;
    align-self: center;
    }

.evento2-ih{
width:100%;
height: 450px;
display: flex;
align-items: flex-end;
padding-left: 2%;
}

#NP2-evento h5{
    color: #012952;
    font-size:20px;
    }

#NP2-evento a{
color: #012952;
font-size:20px;
}

.e2-h6 {
font-size: 20px;
padding: 2%;
color: #074e96;
 font-weight: 800;
 }  

.ev2-h5{
 height: 220px;
 display: flex;
flex-direction:column;
justify-content: space-around;
padding-left: 2%;
 }


